{% extends "base.html" %}
{% load i18n staticfiles widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% url 'website:login' %}">
                {% csrf_token %}
                <h1>Iniciar Sesión</h1>

                <br>
                <br>

                <div>
                    {% render_field form.email placeholder="Correo Electrónico" class="form-control" required="" %}
                </div>
                <div>
                    {% render_field form.password placeholder="Contraseña" class="form-control" %}
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p>El nombre de usuario o contrase&ntilde;a no son v&aacute;lidos, por favor intenta de
                            nuevo.</p>
                    </div>
                {% endif %}

                {% if next %}
                    <div class="alert alert-warning" role="alert">
                        {% if user.is_authenticated %}
                            <p>La cuenta de acceso no tiene acceso a esta p&aacute;gina.
                                Comuniquese con el &aacute;rea de soporte para continuar.</p>
                        {% else %}
                            <p>Por favor inicia sesi&oacute;n para ver esta p&aacute;gina.</p>
                        {% endif %}
                    </div>
                {% endif %}

                <br><br>
                <div>
                    <input class="btn btn-default submit" type="submit" value="Iniciar Sesi&oacute;n"/>
                    <a href="{% url 'password_reset' %}" class="reset_pass">¿Olvidaste tu Contraseña?</a>
                </div>

                <div class="clearfix"></div>

            </form>
        </div>
    </div>
{% endblock %}
