{% extends "base.html" %}

{% load i18n staticfiles widget_tweaks %}


{% block content %}

<div class="container" style="padding:30px 0 0 0;">
        <div class="row">
                <div class="col-md-12 well text-center">
                    <section class="login_content" >
                        <h2>Se ha cambiado la contraseña</h2>
                        <p>La nueva contraseña ha sido creada exitosamente<br><strong><a href="{% url 'website:login' %}"Ya puedes Iniciar Sesión</a></strong></p>
                        <a href="{% url 'website:login' %}" class="button button-3d nomargin">Iniciar Sesión</a>
            </section>
        </div>
    </div>
</div>

{% endblock %}
