{% extends "base.html" %}

{% load i18n staticfiles widget_tweaks %}


{% block content %}

 <section id="content" style="margin-bottom: 0px;">
        <div class="content-wrap">

             <div class="container clearfix">
                    <div class="col_one_fourth c18-hideonmobile"></div>
                 <div class="col_half nobottommargin">

                     <div class="well well-lg nobottommargin">

                         {% if validlink %}

                             <h3 class="nobottommargin">Confirmación de Contraseña</h3>
                             <p>
                                 Indica tu nueva contraseña.
                                 <br>
                                <small>Deberá ser alfanumerica de al menos 8 caracteres.</small>
                             </p>

                             <form id="login-form" class="nobottommargin" method="post">
                                 {% csrf_token %}
                                 <div class="fieldWrapper col-md-12">
                                     {{ form.new_password1.errors }}
                                     <label for="id_new_password1">{% trans 'New password:' %}</label>
                                     {{ form.new_password1|add_class:"form-control col-md-12"|attr:"placeholder:Contraseña" }}
                                 </div>
                                 <div class="fieldWrapper col-md-12">
                                     {% if form.new_password2.errors %}
                                         <div class="alert alert-danger">
                                             {{ form.new_password2.errors }}
                                         </div>
                                     {% endif %}

                                     <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                                     {{ form.new_password2|add_class:"form-control col-md-12"|attr:"placeholder:Contraseña" }}
                                 </div>
                                 <div class="col_full nobottommargin" style="margin:0px 10px"; >
                                    <br>
                                    <button class="button button-3d" type="submit" id="" >Cambiar Contraseña</button>
                                </div>
                             </form>

                         {% else %}

                             <p>El link de cambio de contraseña ya no está vigente. Puedes generar uno nuevo dando
                                 <a href="{% url 'password_reset' %}" class="c18-attention-link">click aquí</a></p>

                         {% endif %}

                        </div>

                    </div>

                </div>
        </div>
    </section>

{% endblock %}
