{% extends "base.html" %}
{% load i18n staticfiles widget_tweaks %}

{% block content %}

<section id="content" style="margin-bottom: 0px;">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_one_fourth"></div>
            <div class="col_half nobottommargin">
            	<div class="well well-lg nobottommargin">
            		<form id="emailform" name="login-form" class="nobottommargin" action="#" method="post">
                        {% csrf_token %}
            			<h3>Recuperación de Contraseña</h3>
                        <p>Si olvidaste tu contraseña, o no puedes acceder a tu cuenta; ingresa tu correo electrónico y te enviaremos un correo para restablecerla.</p>
                        {{ form.email.errors }}
            			<div class="col_full">
                            <div class="form-group">
                                <label for="id_email">{% trans 'Email address:' %}</label>
                                {{ form.email|add_class:"form-control" }}
                            </div>
            			</div>
                        <button class="button button-3d nomargin" type="submit" id="resetpass" name="login-form-submit">{% trans 'Reset my password' %}</button>
            		</form>
            	</div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
