{% extends "base.html" %}
{% load i18n staticfiles widget_tweaks %}

{% block content %}
    <section id="content" style="margin-bottom: 0px;">
        <div class="content-wrap">

             <div class="container clearfix">
                    <div class="col_one_fourth c18-hideonmobile"></div>
					<div class="col_half nobottommargin">

						<div class="well well-lg nobottommargin">
							<form id="login-form" class="nobottommargin" method="post">
                                {% csrf_token %}
								<h3 class="nobottommargin">Nuevo Registro</h3>
                                <p>¿Ya tienes una cuenta? <a href="{% url 'website:login' %}" class="c18-attention-link">Inicia Sesión</a></p>

                                {% if next %}
                                    <div class="alert alert-warning" role="alert">
                                        {% if user.is_authenticated %}
                                            <p>La cuenta de acceso no tiene acceso a esta página.
                                                Comuniquese con el área de soporte para continuar.
                                            </p>
                                        {% else %}
                                            <p>Por favor inicia sesión para ver esta página.</p>
                                        {% endif %}
                                    </div>
                                {% endif %}


                                {% for field in form %}
                                    {% if field.field.widget.is_hidden %}
                                        {{ field }}
                                    {% else %}


                                    <div class="fieldWrapper {% if field.html_name == 'first_name' or field.html_name == 'last_name' %} col-md-6 {% else %} col-md-12 {% endif %}">
                                        <!--{{ field.errors }}-->
                                        <label class="" for="first-name"> {{ field.label }}
                                                {% if field.field.required %}
                                                    <span style="color:red;" class="required">*</span>
                                                {% endif %}
                                        </label>

                                        {{ field|add_class:"form-control col-md-12" }}

                                        {% if field.help_text %}
                                            <div class="alert alert-light" role="alert">{{ field.help_text }}</div>
                                        {% endif %}
                                        {% if field.errors %}
                                            <div class="alert alert-danger list-unstyled ">{{ field.errors }}</div>
                                        {% endif %}

                                    </div>
                                    {% endif %}
                                {% endfor %}

								<div class="col_full nobottommargin" style="margin:0px 10px"; >
                                    <br>
									<button class="button button-3d" type="submit" id="login-form-submit" >Crear Cuenta</button>
								</div>


							</form>
						</div>

					</div>



				</div>
        </div>
    </section>

{% endblock %}


