{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Borrar Teléfono {{ object }} de {{ contact }}</h1>
    <div class="alert alert-danger">
      <h3>Se eliminará el teléfono</h3>
      <p>Esta acción es permanente y no puede revertirse. ¿Desea continuar?</p>
    </div>
    <form id="form" METHOD="post" ACTION="" enctype="multipart/form-data">
        <div class="row mx-1">
            <div class="col-md-12">
             {% csrf_token %}
              {% if field.field.widget.is_hidden %}
                {{ field }}
                  {% else %}
                    {% for field in form %}
                    <div class="row space-between mt-4">
                        <label class="category-title">
                            <span for="{{ field.id }}">{{ field.label }}
                                    {% if field.field.required %}
                                        <span class="required">*</span>
                                    {% endif %}
                            </span>
                        </label>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="alert alert-light" role="alert">{{ field.help_text }}</div>
                        {% endif %}

                        {% if field.errors %}
                            <span class="text text-error">{{ field.errors }}</span>
                        {% endif %}
                    </div>
                    {% endfor %}
              {% endif %}
            </div>
        </div>
        <br>
        <div class="text-center mt-4">
            <a href="{% url 'website:contacts:index' %}" class="btn btn-primary"> No, cancelar</a>
            <button type="submit" class="btn btn-danger">Si, eliminar</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
