{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Bienvenido {{ request.user.webuser }}</h1>
  </div>
</div>
{% endblock %}
