{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
    <div class="row">
        <header class="col-md-12">
            <h1>Detalle del Contacto {{ object }}</h1>
            <a href="{% url 'website:contacts:index' %}">Volver al listado</a>
        </header>

        <div class="col-md-12">
            <a href="{% url 'website:contacts:update' object.pk %}" class="btn btn-success btn-sm">Actualizar</a>
            <a href="{% url 'website:contacts:delete' object.pk %}" class="btn btn-danger btn-sm">Borrar</a>
            <ul>
                <li>Nombre: {{ object.first_name }}</li>
                <li>Apellido: {{ object.last_name }}</li>
                <li>Sexo: {{ object.get_sex_display }}</li>
            </ul>
        </div>

        <div class="col-md-12">
            <h2>Teléfonos</h2>
            <a href="{% url 'website:contacts:phones:create' object.pk %}" class="btn btn-primary">Nuevo Teléfono</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object.phone_set.all %}
                <tr>
                    <td>{{ obj.phone }}</td>
                    <td>{{ obj.get_type_display }}</td>
                    <td>
                        <a href="{% url 'website:contacts:phones:update' object.pk obj.pk %}" class="btn btn-success btn-sm">Actualizar</a>
                        <a href="{% url 'website:contacts:phones:delete' object.pk obj.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No hay teléfonos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <h2>Direcciones</h2>
            <a href="{% url 'website:contacts:addresses:create' object.pk %}" class="btn btn-primary">Nueva Dirección</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Dirección</th>
                    <th>Tipo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for address in object.address_set.all %}
                <tr>
                    <td>{{ address.address }}</td>
                    <td>{{ address.get_type_display }}</td>
                    <td>
                        <a href="{% url 'website:contacts:addresses:update' object.pk address.pk %}" class="btn btn-success btn-sm">Actualizar</a>
                        <a href="{% url 'website:contacts:addresses:delete' object.pk address.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No hay direcciones</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
