{% extends "base.html" %}
{% load i18n staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Listado de Contactos</h1>

    <a href="{% url 'website:contacts:create' %}" class="btn btn-primary">Nuevo Contacto</a>
    <br><br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Sexo</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          {% for obj in object_list %}
          <tr>
            <td><a href="{% url 'website:contacts:detail' obj.pk %}">{{ obj.id }}</a></td>
            <td>{{ obj.first_name }}</td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.get_sex_display }}</td>
            <td>
              <a href="{% url 'website:contacts:update' obj.pk %}" class="btn btn-success btn-sm">Actualizar</a>
              <a href="{% url 'website:contacts:delete' obj.pk %}" class="btn btn-danger btn-sm">Borrar</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No hay registros</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
